body { background-color: #d7eeef;
    color: #118c11;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px; }
h1 {color: #37359a; text-align: center;}
h3 {color: #37359a; text-align: center;}
p {color: #0f2008;}

img {width: 600px;
      display: block;
      margin-left: auto;
      margin-right: auto;}
