body { background: #8B4513;
    color: #118c11;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px; }
h1 {color: darkblue;}
h3 {color: darkblue;}
p {color: green;}
